@model taka.Models.Enitities.ADDRESS

@{
    ViewBag.Title = "Takasa";
    Layout = "~/Views/User/_LayoutUser.cshtml";
}
<head>
    <style>
        .add-address {
            background-color: #00B38F;
            color: white;
        }

            .add-address:hover {
                background-color: #008066;
                color: white;
            }
    </style>
</head>
<body>
    <form action="/User/AddAddress" method="post" role="form">
        <div class="user-page-brief">
            <h3> Thêm Địa Chỉ Mới </h3>
        </div>
        <div>
            <table class="table" style="vertical-align:auto">
                <tr>
                    <th>Họ Và Tên</th>
                    <td><input type="text" name="name" class="form-control" placeholder="Họ Tên"></td>
                </tr>
                <tr>
                    <th>Số Điện Thoại</th>
                    <td><input name="phone" type="text" class="form-control" placeholder="Số Điện Thoại" /></td>
                </tr>
                <tr>
                    <th>Địa Chỉ</th>
                    <td><input name="address" type="text" class="form-control" placeholder="Địa Chỉ" /></td>
                </tr>
            </table>
            <div class="form-group float-right" style="">
                <input type="submit" class="btn btn-light add-address" style="" value="Thêm" />
                <a href="~/User/AddressDetails" class="btn btn-light" style="background-color: white;color:#00B38F;">
                    Hủy
                </a>
            </div>
        </div>

    </form>
</body>

