
@{
    ViewBag.Title = "Teader";
    Layout = "~/Views/User/_LayoutUser.cshtml";

}
<head>
    <style>
        .confirm-warning{
            font-size:30px;
            margin-top:5px;
            float:left;
        }
    </style>
</head>
<section class="mb-5 text-center">

    <p>Thay đổi mật khẩu</p>

    <form action="/User/ChangePassword" method="post">

        <div class="row">
            <div class="md-form md-outline col-11">
                <input type="password" id="newPass" name="newPass" class="form-control mb-3" placeholder="Mật khẩu mới">
            </div>
        </div>
            
        <div class="row">
            <div class="md-form md-outline col-11">
                <input type="password" id="newPassConfirm" class="form-control mb-4" placeholder="Xác nhận mật khẩu mới">

            </div>
            <div class="col-1">
                <ion-icon class="text-left confirm-warning"></ion-icon>
            </div>
        </div>
            
        
        
        
        <button type="submit" class="btn btn-primary mb-4 submit-password" >Đổi mật khẩu</button>

    </form>



</section>
<script>
    
    function checkPasswordMatch() {
        var password = $("#newPass").val();
        var confirmPassword = $("#newPassConfirm").val();
        if (password != confirmPassword) {
            //$(".submit-password").removeAttr("name");
            $(".confirm-warning").attr("name", "close-circle-outline")
            $(".confirm-warning").css("color", "red")
            $(".submit-password").attr("disabled", "disabled")
        }
        else
        {
            //$(".submit-password").removeAttr("name");
            $(".confirm-warning").attr("name", "checkmark-circle-outline")
            $(".confirm-warning").css("color", "green")
            $(".submit-password").removeAttr("disabled");
        }
    }
    $(document).ready(function () {
        $("#newPass").keyup(checkPasswordMatch);
        $("#newPassConfirm").keyup(checkPasswordMatch);
    });
    
</script>

