
<div class="modal" tabindex="-1" role="dialog" id="modalDelAddress">
    <div class="modal-dialog" role="document">
        <form class="modal-content" method="post" action="/User/DeleteAddress">
            <div class="modal-header">
                <h5 class="modal-title">Xoá Địa Chỉ</h5>
                <button type="button" class="close" data-dismiss="modal" onclick="" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn xóa địa chỉ này?
            </div>
            <input name="idAddress" id="idAddress" hidden />
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" style="color:white;background-color:#00B38F">Xoá</button>
                <button type="button" style="background-color:white;color:#00B38F" class="btn" data-dismiss="modal">Huỷ</button>
            </div>
        </form>
    </div>
</div>
