@{
    ViewBag.Title = "Đã có lỗi xảy ra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center" class="col">
    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/4122b759f91bd8dce310f1bc691e78ad.png">
    <div class="product-not-exist__text">Sản phẩm này không tồn tại</div>
    <a class="btn btn-light p-3 m-3" style="background-color:#00B38F;color:white" href="/">Về trang chủ</a>
</div>