<div class="modal" tabindex="-1" role="dialog" id="modalDelete">
    <div class="modal-dialog" role="document">
        <form class="modal-content" method="post" action="/Admin/Delete">
            <div class="modal-header">
                <h5 class="modal-title">Xoá</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Ngừng bán <b id="delete-tea-title"></b> ?
            </div>
            <input name="id" id="delete-tea-id" value="" hidden />
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger">Có</button>
                <button type="button" style="color:white;background-color:#00B38F" data-toggle="modal" data-target="#modalDelete" class="btn">Không</button>
            </div>
        </form>
    </div>
</div>